{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fruits</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" value="fr" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'webapp/css/fruit.css' %}" rel="stylesheet" type="text/css" media="screen">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"
            type="text/javascript">
    </script>
    <script src="{% static 'webapp/js/fruit.js' %}" type="text/javascript"></script>

</head>
<body>

    <form id="form" method="POST" action="{% url 'fruits-validate' %}">
    {% csrf_token %}

        <table>
          <tr>
              <th class="invisible"></th>
              <th class="invisible"></th>
              <th class="invisible"></th>
              <th class="invisible"></th>
              <th colspan="3"><p>Age</p></th>
              <th colspan="3"><p>Fruit</p></th>
          </tr>
          <tr>
              <th class="invisible"></th>
              <td class="invisible"></td>
              <td class="invisible"></td>
              <td class="invisible"></td>
              <td rowspan="3"><p class="rotate">8 years</p></td>
              <td rowspan="3"><p class="rotate">9 years</p></td>
              <td rowspan="3"><p class="rotate">10 years</p></td>
              <td rowspan="3"><p class="rotate">apple</p></td>
              <td rowspan="3"><p class="rotate">banana</p></td>
              <td rowspan="3"><p class="rotate">grape</p></td>
          </tr>
            <tr>
                <th class="invisible"></th>
                <td class="invisible"></td>
                <td class="invisible"></td>
                <td class="invisible"></td>
          </tr>
            <tr>
                <th class="invisible"></th>
                <td class="invisible"></td>
                <td class="invisible"></td>
                <td class="invisible"></td>
          </tr>
            <tr>
                <th rowspan="3"><p class="rotate">Name</p></th>
              <td colspan="3">Amy</td>
              <td class="clickable"><input type="hidden" name="00" value="0" form="form" /><p>0</p></td>
              <td class="clickable"><input type="hidden" name="10" value="0" form="form" /><p>0</p></td>
              <td class="clickable"><input type="hidden" name="20" value="0" form="form" /><p>0</p></td>
              <td class="clickable"><input type="hidden" name="30" value="0" form="form" /><p>0</p></td>
              <td class="clickable"><input type="hidden" name="40" value="0" form="form" /><p>0</p></td>
              <td class="clickable"><input type="hidden" name="50" value="0" form="form" /><p>0</p></td>
          </tr>
            <tr>
              <td colspan="3">Belle</td>
              <td class="clickable"><input type="hidden" name="01" value="0" form="form" /><p>0</p></td>
              <td class="clickable"><input type="hidden" name="11" value="0" form="form" /><p>0</p></td>
              <td class="clickable"><input type="hidden" name="21" value="0" form="form" /><p>0</p></td>
              <td class="clickable"><input type="hidden" name="31" value="0" form="form" /><p>0</p></td>
              <td class="clickable"><input type="hidden" name="41" value="0" form="form" /><p>0</p></td>
              <td class="clickable"><input type="hidden" name="51" value="0" form="form" /><p>0</p></td>
          </tr>
            <tr>
              <td colspan="3">Chloe</td>
              <td class="clickable"><input type="hidden" name="02" value="0" form="form" /><p>0</p></td>
              <td class="clickable"><input type="hidden" name="12" value="0" form="form" /><p>0</p></td>
              <td class="clickable"><input type="hidden" name="22" value="0" form="form" /><p>0</p></td>
              <td class="clickable"><input type="hidden" name="32" value="0" form="form" /><p>0</p></td>
              <td class="clickable"><input type="hidden" name="42" value="0" form="form" /><p>0</p></td>
              <td class="clickable"><input type="hidden" name="52" value="0" form="form" /><p>0</p></td>
          </tr>
        </table>

        <button type="submit" form="form">Vérifier</button>

    </form>

</body>
</html>